* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-decoration: none;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  scroll-behavior: smooth;
}

a {
  color: initial;
}

.content {
  max-width: 1680px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: black solid 1px;
  align-items: center;
}

.info-link {
  font-size: 16px;
  color: black;
  margin-right: 20px;
  display: inline-block;
}

.top-nav {
  width: 100%;
  position: fixed;
  top: 0;
}

.arrow-button, .nav-menu .nav-item .nav-label, .search .search-button .button-label {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.bucket {
  background-color: #699FF0;
  padding: 10px 5px;
  color: white;
}
.bucket .img {
  vertical-align: middle;
  margin-right: 5px;
}
.bucket .bucket-text {
  display: inline-block;
  vertical-align: middle;
}

.search {
  height: 50px;
  margin-top: 20px;
  z-index: 20;
  position: fixed;
  transition: top ease-in-out 0.2s;
  background-color: white;
  width: 100%;
}
.search .searchbar {
  border: 2px solid #6E81FA;
  width: 1000px;
  height: 30px;
}
.search .searchbar:focus {
  outline: none;
}
.search .search-button {
  width: 150px;
  background-color: #6E81FA;
  display: inline-block;
  height: 30px;
}
.search .search-button .button-label {
  cursor: pointer;
  color: white;
}

.nav-menu {
  position: relative;
  margin-top: 20px;
  color: white;
  text-wrap: avoid;
}
.nav-menu .nav-item {
  width: calc(100%/6);
  background-color: #7F6FE3;
  height: 56px;
  display: inline-block;
  transition: background 0.2s ease-in-out;
}
.nav-menu .nav-item:hover {
  background-color: #C569F0;
}
.nav-menu .category-menu {
  background-color: white;
  position: absolute;
  z-index: 5;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-menu .category-menu .subcategories {
  display: inline-block;
  width: 300px;
  float: left;
}
.nav-menu .category-menu .subcategories .subcategory {
  background-color: #68C9FF;
  display: block;
  padding: 10px;
  color: white;
}
.nav-menu .category-menu .subcategories .subcategory:hover {
  background-color: #6E81FA;
}
.nav-menu .category-menu .category-item {
  min-width: 200px;
  height: 135px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}
.nav-menu .category-menu .category-item .item-img {
  float: left;
  height: 100px;
  max-width: 40%;
}
.nav-menu .category-menu .category-item .category-products {
  padding-left: 10px;
  width: 60%;
  float: left;
}
.nav-menu .category-menu .category-item .category-products .category-header {
  font-size: 25px;
  color: #68C9FF;
  padding-bottom: 5px;
}
.nav-menu .category-menu .category-item .brand {
  color: black;
  float: left;
  display: block;
  clear: both;
  padding-bottom: 2.5px;
  transition: color 0.2s ease-in-out;
}
.nav-menu .category-menu .category-item .brand:hover {
  color: #C569F0;
}

.banner {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.banner .banner-item {
  width: 100vw;
  display: inline-block;
  height: 200px;
}

.carousel {
  width: 99999999999999px;
  position: relative;
}

.arrow-button {
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  margin-left: 10px;
  fill: #699FF0;
}
.arrow-button.right {
  right: 10px;
  margin-left: 0;
}
.arrow-button svg {
  display: block;
}

.container-label {
  font-size: 20px;
  margin-top: 10px;
}

.popular-product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.popular-product-container .popular-product {
  padding-right: 20px;
  padding-top: 20px;
  width: 250px;
  display: inline-block;
  flex: 0 0 16%;
  height: 100%;
}
.popular-product-container .popular-product .product-img {
  margin: auto;
  text-align: center;
  width: 160px;
  height: 160px;
}
.popular-product-container .popular-product .product-img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px 5px 0 0;
}
.popular-product-container .popular-product .product-bottom {
  padding: 10px;
  background-color: #699FF0;
  border-radius: 0 0 5px 5px;
  color: white;
  display: inline-block;
  width: 100%;
  height: 50%;
}
.popular-product-container .popular-product .product-bottom .product-price {
  font-size: 22px;
}
.popular-product-container .popular-product .product-bottom .product-desc {
  padding: 20px 0;
}
.popular-product-container .popular-product .product-bottom .product-button {
  background-color: #68C9FF;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}

.shop-logo {
  width: 200px;
  display: block;
  position: relative;
  top: -20px;
  -webkit-user-drag: none;
}

.footer {
  margin-top: 50px;
  background-color: #7F6FE3;
  padding: 20px 0;
  color: white;
}
.footer .footer__block {
  font-size: 17px;
}

.horizontal-line {
  border: 1px solid #444;
  position: relative;
  left: 0;
  right: 0;
  margin: 10px 0;
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.arrowToolTip {
  position: absolute;
  transform: translate(0, -50%);
  animation: opacityAnimation 0.2s ease-in-out;
}
.arrowToolTip .triangle {
  float: left;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid black;
  border-bottom: 15px solid transparent;
  opacity: 0.6;
}
.arrowToolTip .ttBody {
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  float: left;
  background-color: black;
  opacity: 0.6;
  color: white;
  border-radius: 0 5px 5px 0;
}

.product__middle, .top__layout, .product .product__title {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.product {
  padding-top: 50px;
}
.product .product-header {
  font-size: 25px;
  font-weight: bold;
}
.product .product__title {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 7px;
}
.product .product__title .right-logo {
  position: absolute;
  right: 10px;
  top: 10px;
}
.product .product__title .right-logo__logo img {
  max-height: 60px;
}
.product .product__title .title__main-image {
  display: inline-block;
  padding: 0 30px;
}
.product .product__title .title__top {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 370px;
}
.product .title__image-miniatures {
  position: absolute;
}
.product .title__image-miniatures .image-miniatures__image {
  float: left;
  display: inline-block;
  clear: both;
  position: relative;
}
.product .title__image-miniatures .image-miniatures__image:hover {
  border-left: 7px solid #6E81FA;
  left: -7px;
}

.top__layout {
  margin-top: 20px;
  padding: 10px;
  width: 370px;
}
.top__layout .layout__text {
  color: #6E81FA;
  font-size: 26px;
  display: inline-block;
}
.top__layout .layout__text:after {
  content: "p";
}
.top__layout .layout__button {
  background-color: #6E81FA;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 30px;
  position: absolute;
  right: 10px;
}
.top__layout .layout__button .button__text {
  text-align: center;
  color: white;
  background-color: #6E81FA;
}

.product__middle {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
}
.product__middle .middle__header {
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: bold;
}

.top__stars {
  margin-top: 10px;
}

/*# sourceMappingURL=product.css.map */
