*
    box-sizing: border-box
    margin-block-start: 0
    margin-block-end: 0
    margin-inline-start: 0
    margin-inline-end: 0
    text-decoration: none
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    vertical-align: baseline
html,body
    scroll-behavior: smooth

a
    color: initial

@import "./input/shadow-layout"
.content
    max-width: 1680px
    margin: 0 auto

.info
    display: flex
    justify-content: space-between
    padding: 10px 0
    border-bottom: black solid 1px
    align-items: center

.info-link
    font-size: 16px
    color: black
    margin-right: 20px
    display: inline-block

.top-nav
    width: 100%
    position: fixed
    top: 0

%center-align
    text-align: center
    position: relative
    top: 50%
    transform: translate(0,-50%)

.bucket
    background-color: #699FF0
    padding: 10px 5px
    color: white
    .img
        vertical-align: middle
        margin-right: 5px
    .bucket-text
        display: inline-block
        vertical-align: middle
.search
    height: 50px
    margin-top: 20px
    z-index: 20
    position: fixed
    transition: top ease-in-out .2s
    background-color: white
    width: 100%
    .searchbar
        border: 2px solid #6E81FA
        width: 1000px
        height: 30px
        &:focus
            outline: none
    .search-button
        width: 150px
        background-color: #6E81FA
        display: inline-block
        height: 30px
        .button-label
            cursor: pointer
            color: white
            @extend %center-align

.nav-menu
    position: relative
    margin-top: 20px
    color: white
    text-wrap: avoid
    .nav-item
        // todo remove items quantity to jsx array
        width: calc(100%/6)
        background-color: #7F6FE3
        height: 56px
        display: inline-block
        transition: background .2s ease-in-out
        &:hover
            background-color: #C569F0
        .nav-label
            @extend %center-align
    .category-menu
        background-color: white
        position: absolute
        z-index: 5
        width: 100%
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        .subcategories
            display: inline-block
            width: 300px
            float: left
            .subcategory
                background-color: #68C9FF
                display: block
                padding: 10px
                color: white
                &:hover
                    background-color: #6E81FA
        .category-item
            min-width: 200px
            height: 135px
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            margin-right: 30px
            display: inline-block
            padding: 10px
            cursor: pointer
            .item-img
                float: left
                height: 100px
                max-width: 40%
            .category-products
                padding-left: 10px
                width: 60%
                float: left
                .category-header
                    font-size: 25px
                    color: #68C9FF
                    padding-bottom: 5px
            .brand
                color: black
                float: left
                display: block
                clear: both
                padding-bottom: 2.5px
                transition: color .2s ease-in-out
                &:hover
                    color: #C569F0

.banner
    position: relative
    overflow: hidden
    display: inline-block
    .banner-item
        width: 100vw
        display: inline-block
        height: 200px

.carousel
    width: 99999999999999px
    position: relative

.arrow-button
    @extend %center-align
    display: inline-block
    position: absolute
    top: 50%
    z-index: 2
    cursor: pointer
    margin-left: 10px
    fill: #699FF0
    &.right
        right: 10px
        margin-left: 0
    svg
        display: block

.container-label
    font-size: 20px
    margin-top: 10px

.popular-product-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow: hidden
    .popular-product
        padding-right: 20px
        padding-top: 20px
        width: 250px
        display: inline-block
        flex: 0 0 16%
        height: 310px
        .product-img
            margin: auto
            text-align: center
            width: 160px
            height: 160px
            img
                width: 100%
                height: 100%
                vertical-align: middle
                border-radius: 5px 5px 0 0
        .product-bottom
            padding: 10px
            background-color: #699FF0
            border-radius: 0 0 5px 5px
            color: white
            display: inline-block
            width: 100%
            max-height: 50%
            .product-price
                font-size: 22px
            .product-desc
                padding: 20px 0
                height: 20px
                overflow: hidden
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-line-clamp: 2
                -webkit-box-orient: vertical
            .product-button
                background-color: #68C9FF
                border-radius: 5px
                display: inline-block
                padding: 5px

.shop-logo
    width: 200px
    display: block
    position: relative
    top: -20px
    -webkit-user-drag: none

.footer
    margin-top: 50px
    background-color: #7F6FE3
    padding: 20px 0
    color: white
    .footer__block
        font-size: 17px

.horizontal-line
    border: 1px solid #444
    position: relative
    left: 0
    right: 0
    margin: 10px 0

@keyframes opacityAnimation
    from
        opacity: 0
    to
        opacity: 1

.arrowToolTip
    position: absolute
    transform: translate(0,-50%)
    animation: opacityAnimation .2s ease-in-out
    .triangle
        float: left
        width: 0
        height: 0
        border-top: 15px solid transparent
        border-right: 30px solid black
        border-bottom: 15px solid transparent
        opacity: .6
    .ttBody
        padding: 0 10px
        text-align: center
        vertical-align: middle
        line-height: 30px
        float: left
        background-color: black
        opacity: .6
        color: white
        border-radius: 0 5px 5px 0