*
    box-sizing: border-box
    margin-block-start: 0
    margin-block-end: 0
    margin-inline-start: 0
    margin-inline-end: 0
    text-decoration: none
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    vertical-align: baseline
html,body
    scroll-behavior: smooth

.content
    max-width: 1680px
    margin: 0 auto

.info
    display: flex
    justify-content: space-between
    padding: 10px 0
    border-bottom: black solid 1px
    align-items: center

.infoLink
    font-size: 16px
    color: black
    margin-right: 20px
    display: inline-block

.topNav
    width: 100%
    position: relative
    top: 0

%center-align
    text-align: center
    position: relative
    top: 50%
    transform: translate(0,-50%)

.bucket
    background-color: #699FF0
    padding: 10px 5px
    color: white
    .img
        vertical-align: middle
        margin-right: 5px
    .bucketText
        display: inline-block
        vertical-align: middle
.search
    max-height: 33px
    margin-top: 20px
    display: flex
    justify-content: space-between
    .searchBar
        border: 2px solid #6E81FA
        width: 1000px
        height: inherit
        &:focus
            outline: none
    .searchButton
        width: 150px
        background-color: #6E81FA
        display: inline-block
        .buttonLabel
            cursor: pointer
            color: white
            @extend %center-align

.navMenu
    position: relative
    margin-top: 20px
    color: white
    .navItem
        // todo remove items quantity to jsx array
        width: calc(100%/6)
        background-color: #7F6FE3
        height: 56px
        display: inline-block
        transition: background .2s ease-in-out
        &:hover
            background-color: #C569F0
        .navLabel
            @extend %center-align
    .categoryMenu
        background-color: white
        position: absolute
        z-index: 5
        width: 100%
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        .subCategories
            display: inline-block
            width: 300px
            float: left
            .subCategory
                background-color: #68C9FF
                display: block
                padding: 10px
                color: white
                &:hover
                    background-color: #6E81FA
        .categoryItem
            min-width: 200px
            height: 135px
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            margin-right: 30px
            display: inline-block
            padding: 10px
            cursor: pointer
            .itemImg
                float: left
                height: 100px
                max-width: 40%
            .categoryProducts
                padding-left: 10px
                width: 60%
                float: left
                .categoryHeader
                    font-size: 25px
                    color: #68C9FF
                    padding-bottom: 5px
            .brand
                color: black
                float: left
                display: block
                clear: both
                padding-bottom: 2.5px
                transition: color .2s ease-in-out
                &:hover
                    color: #C569F0

.banner
    position: relative
    overflow: hidden
    display: inline-block
    .bannerItem
        width: 100vw
        display: inline-block
        height: 200px

.carousel
    width: 99999999999999px
    position: relative
    transition: right .5s ease-in-out

.arrowButton
    @extend %center-align
    display: inline-block
    position: absolute
    top: 50%
    z-index: 2
    cursor: pointer
    margin-left: 10px
    fill: #699FF0
    &.right
        right: 10px
        margin-left: 0
    svg
        display: block

.container-label
    font-size: 20px
    margin-top: 10px

.popular-product-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    overflow: hidden
    .popular-product
        padding-right: 20px
        padding-top: 20px
        width: 250px
        display: inline-block
        flex: 0 0 16%
        height: 100%
        .product-img
            img
                width: 100%
                height: 50%
                display: block
                border-radius: 5px 5px 0 0
        .product-bottom
            padding: 10px
            background-color: #699FF0
            border-radius: 0 0 5px 5px
            color: white
            display: inline-block
            width: 100%
            height: 50%
            .product-price
                font-size: 22px
            .product-desc
                padding: 20px 0
            .product-button
                background-color: #68C9FF
                border-radius: 5px
                display: inline-block
                padding: 5px

.shop-logo
    width: 200px
    display: block
    position: relative
    top: -20px